.artboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: $color-gray9;
  padding: 2em;
}

.artboard-layout {

  max-width: 50em;
  box-shadow: 0 4px 6px rgba(0,0,0,.25);
  margin: 0 auto;

  img {
    display: block;
    max-width: 100%;
  }

}