.header {

  width: 100%;
  color: white;
  background-color: $color-purple6;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    line-height: 3em;
  }

}

.header-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.header-links {

  list-style: none;
  margin: 0;
  padding: 0;

  &,
  li,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: white;
    opacity: .8;
    padding: 0 .5em;
  }
}