.panel {

  .form-label {
    font-size: .8em;
    margin-bottom: .6em;
  }

}

.panel-row {

  display: flex;
  margin: 0 -.5em 1.5em;

  @include small()  {
    width: 100%;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.panel-section {

  flex-grow: 1;
  padding: 0 .5em;

  @include small() {

    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.panel-section-header {

  display: block;
  overflow: hidden;
  position: relative;
  color: $color-gray4;
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    height: 1px;
    background-color: $color-gray7;
    width: 100%;
    margin: auto 0 auto 1em;
  }

}