$pre-height: 40px;

.pre {

  position: relative;
  overflow-x: scroll;
  width: 100%;
  height: $pre-height;

  pre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $pre-height;
  }

}