@import "functions/__functions";
@import "mixins/__mixins";
@import "settings/__settings";
@import "util/__util";

@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  overflow: hidden;
  text-align: left;
  flex-direction: column;
  padding: 2em 0;
}